/*vacancy */
.section__wrapper {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 30px 0;
}

.btn_r {
    background-color: #D2202B;
    font-size: 16px;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    line-height: 20px;
    padding: 12px;
}

.promo {
    padding: 50px 0;
    background: rgb(33,149,210);
    background: linear-gradient(39deg, rgba(33,149,210,1) 0%, rgba(18,124,184,1) 100%);
    overflow: hidden;
    @media (max-width: 999px) {
        padding: 37px 0;
    }
    &__block {
        padding: 0 16px;
        display: flex;
        
        position: relative;

        @media (max-width: 1299px) {
            max-width: 1000px;
            margin: 0 auto; 
        }
        
        @media (max-width: 999px) {
            max-width: 750px;
            margin: 0 auto; 
        }
        @media (max-width: 749px) {
            flex-direction: column;
            align-items: center;
            max-width: 414px;
            margin: 0 auto;
        }
    }
    &__text-block {

        @media (max-width: 749px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 254px;
            align-items: flex-start;
        }
        .btn {

            padding: 13px;
        }
        h1{
            color: #ffffff;
            font-size: 30px;  
            margin: 0;
            margin-bottom: 32px;  
            @media (max-width: 999px) {
                font-size: 24px;
                text-align: left;
            }
        }

        .promo__items {
            margin: 0;
            margin-left: 25px;
            margin-bottom: 87px;
            @media (max-width: 749px) {
                margin-bottom: 22px;
            }
        }
    }

    &__image-block {
        position: absolute;
        right: 0;
        bottom: -85px;
        @media (max-width: 999px) {
            right: -40px;
            bottom: -215px;
            width: 414px;
        }
        @media (max-width: 749px) {
            right: auto;
        }
    }
}

.promo__items li:before {
    width: 10px;
    height: 10px;
    background-color: #B0ACAC;
    left: -25px;
    top: 6px;
}

.promo__items li {
    font-size: 16px;
    color: #ffffff;
    padding: 0; 

    @media (max-width: 749px) {
        font-size: 14px;
        margin-bottom: 16px;
    }
}