mixin promo(data)
    .section__wrapper
        .promo__block
            .promo__text-block 
                h1 
                    |Заработай
                    br 
                    |более 1 000 000 рублей 
                    br
                    |в первый год
                ul.promo__items 
                    li Бесплатное обучение и опытный наставник
                    li Работа в престижной международной компании
                    li Легкий и достойный заработок
                button(type="submit").btn_scroll.btn.btn_r Стать агентом по недвижимости
            .promo__image-block 
                img(src="../static/img/content/promo.png", alt="Промо фотография", width="442", height="691")
