.team {
    padding-bottom: 86px;
    background: rgb(33,149,210);
    background: linear-gradient(39deg, rgba(33,149,210,1) 0%, rgba(18,124,184,1) 100%);
    & li {
        margin: 0;
    }
    &__block {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @media (max-width: 1299px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        @media (max-width: 999px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        @media (max-width: 749px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        
    }

    &__title {
        width: 100%;
        text-align: center;
        color: white;
        margin-bottom: 51px;
        font-size: 30px;
        @media (max-width: 749px) {
           margin: 0 auto;
           margin-bottom: 60px;
           font-size: 24px;
        }
    }
    &__slider {
        width: 688px;
        height: 488px;
        padding: 0;
        box-sizing: content-box;
        padding: 0 54px;
        position: relative;
        @media (max-width: 1299px) {
            width: 50%;
            height: 100%;
            box-sizing: border-box;
        }
        @media (max-width: 999px) {
            display: none;
        }

        & ul {
            margin: 0;
        }
        & li {
            width: 688px;
            height: 488px;
            padding: 0;
    
            @media (max-width: 749px) {
                width: 100%;
                height: 100%;
            }
            & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &-controls {
            position: absolute;
            left: 0;
            top: calc(50% - 15px);
            display: flex;
            width: 100%;
            justify-content: space-between;
        }
        &-arrow {
            position: relative;
            display: inline-block;
            width: 30px;
            height: 30px;
            background-color: rgba(255, 255, 255, 0.80);
            border-radius: 50%;
            cursor: pointer;
            transition: background-color .2s ease-in-out;

            &::before, &::after {
                content: "";
                width: 2px;
                height: 14px;
                background-color: #137FBB;
                position: absolute;
                left: 0;
                top: 0;
                transition: all .2s ease-in-out;
            }

            

            &--prev {
                &::before {
                    left: 12px;
                    top: 4px;
                    transform: rotate(45deg);
                }
    
                &::after {
                    left: 12px;
                    top: 13px;
                    transform: rotate(-45deg);
                }
            }

            &--next {
                &::before {
                    left: 14px;
                    top: 4px;
                    transform: rotate(-45deg);
                }
    
                &::after {
                    left: 14px;
                    top: 13px;
                    transform: rotate(45deg);
                }
            }

            &.slick-disabled {
                &.team__slider-arrow--next {
                    &::before {
                        left: 14px;
                        top: 9px;
                        transform: rotate(-45deg);
                    }
        
                    &::after {
                        left: 14px;
                        top: 9px;
                        transform: rotate(45deg);
                    }
                }

                &.team__slider-arrow--prev {
                    &::before {
                        left: 14px;
                        top: 9px;
                        transform: rotate(45deg);
                    }
        
                    &::after {
                        left: 14px;
                        top: 9px;
                        transform: rotate(-45deg);
                    }
                }
            }
        }
    }

    &__politics {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        input:checked + span svg{
            opacity: 1;
        }
        & span {
            -webkit-user-select: none;
            user-select: none;
            display: inline-block;
            font-size: 14px;
            color: #333333;
            text-align: center;
            position: relative;
            padding-left: 25px;
            cursor: pointer;
            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 2px;
                width: 14px;
                height: 14px;
                border: 1px solid #AAAAAA;
            }

            & svg {
                opacity: 0;
                position: absolute;
                left: 5px;
                top: 2px;
            }
        }
    }
    &__select-block {
        display: flex;
        margin-bottom: 105px;
        flex-direction: column;
        width: 100%;
    }
    &__form {
        width: 450px;
        background-color: #fff;
        padding: 43px 25px;
        @media (max-width: 749px) {
            width: 100%;
        }
        & form {
            display: flex;
            flex-direction: column;
            
            & input {
                border: 1px solid #AAAAAA;
                border-radius: 3px;
                font-size: 16px;
                color: #333333;
                line-height: 20px;
                text-align: left;
                padding: 12px 9px;
                margin-bottom: 24px;
                &::placeholder {
                    font-size: 16px;
                    color: #333333;
                    line-height: 20px;
                    text-align: left;
                }
            }
        }
    }
}

.select2-container li::before {
    content: none;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
    font-size: 16px;
    color: #333333;
    line-height: 20px;
    text-align: left;
}
.select2-selection.select2-selection--single {

    height: 46px;
    padding: 7px 0px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 48px;
}