mixin step(data)
    .section__wrapper.step__wrapper
        .step__block
            .section__wrapper
                .step__top-block
                    h1.step__title Этапы ввода в профессию Агента
                    .step__slider-controls
                        span.step__slider-arrow.step__slider-arrow--prev
                        span.step__slider-arrow.step__slider-arrow--next
            ul.step__slick
                li.step__block-item
                    .step__card 
                        .step__card-photo
                             .step__photo-wrapper 
                                img(src="../static/img/content/step1.png", alt="Фото ввода в профессию", width="300", height="364")
                             .step__desc-wrapper 
                                .step__desc-title Обучение:
                                    span 5 дней
                                p.step__desc-btext Недельная on-line подготовка в Корпоративном учебном центре Обучение ведут успешные агенты сети Перспектива24
                        .step__card-desc 
                            .step__day-desc
                                span.step__day-text 1 день
                                .step__day-items
                                    ul.step__day
                                        li Вводная лекция
                                        li Ценностные предложения
                                .step__day-items
                                    ul.step__day
                                        li жилой фонд
                                        li Ценообразование
                            .step__day-desc
                                span.step__day-text 2 день
                                .step__day-items
                                    ul.step__day
                                        li Документооборот
                                        li Наработка клиентской базы
                                .step__day-items
                                    ul.step__day
                                        li 
                                            |Этапы продаж
                                            br
                                            |(встреча с собственником)
                            .step__day-desc
                                span.step__day-text 3 день
                                .step__day-items
                                    ul.step__day
                                        li 
                                            |Предпродажная подготовка
                                            br
                                            |План продажи. Показ квартиры.
                                .step__day-items
                                    ul.step__day
                                        li Жилой фонд
                                        li Ценообразование
                            .step__day-desc
                                span.step__day-text 4 день
                                .step__day-items
                                    ul.step__day
                                        li Вводная лекция
                                        li Ценностные предложения
                                .step__day-items
                                    ul.step__day
                                        li жилой фонд
                                        li Ценообразование
                            .step__day-desc
                                span.step__day-text 5 день
                                .step__day-items
                                    ul.step__day
                                        li Вводная лекция
                                        li Ценностные предложения
                                .step__day-items
                                    ul.step__day
                                        li жилой фонд
                                        li Ценообразование
                li.step__block-item
                    .step__card 
                        .step__card-photo
                             .step__photo-wrapper 
                                img(src="../static/img/content/step3.png", alt="Фото ввода в профессию", width="300", height="364")
                             .step__desc-wrapper 
                                .step__desc-title Практика
                                    span 7 дней
                                p.step__desc-btext Этапы входа Агента в работу
                        .step__card-desc 
                            .step__day-desc
                                .step__day-items
                                    ul.step__day.step__day--long
                                        li On-Line обучение
                                        li Практика в собственном учебном центре
                                        li Подключение адаптога к стажеру и вывод на первую сделку
                                        li Передача стажера в основной офис и подключение к нему наставника
                                        li Выбор удобного офиса для агента
                                        li Выход на работу
                li.step__block-item
                    .step__card 
                        .step__card-photo
                             .step__photo-wrapper 
                                img(src="../static/img/content/step2.png", alt="Фото ввода в профессию", width="300", height="364")
                             .step__desc-wrapper 
                                .step__desc-title Выход на работу
                                p.step__desc-btext 
                                    |Практика в собственном учебном центре 
                                    br
                                    |Практику ведут действующие агента и руководители
                        .step__card-desc 
                            .step__day-desc
                                .step__day-items
                                    ul.step__day.step__day--long
                                        li Поиск клиента
                                        li Встреча
                                        li Подписание договора
                                        li Поиск покупателя
                                        li Аванс / Задаток
                                        li Подготовка к сделке
                                        li Пост обслуживани
                                        li Поиск клиента
                                        li Встреча
                                        li Подписание договора
                                        li Поиск покупателя
                                        li Аванс / Задаток
                                        li Подготовка к сделке
                                        li Пост обслуживани
                                        li Поиск клиента
                                        li Встреча
            ul.step__unslick
                li.step__block-item
                    .step__card 
                        .step__card-photo
                            .step__photo-wrapper 
                                img(src="../static/img/content/step1.png", alt="Фото ввода в профессию", width="300", height="364")
                            .step__desc-wrapper 
                                .step__desc-title Обучение:
                                    span 5 дней
                            p.step__desc-btext Недельная on-line подготовка в Корпоративном учебном центре Обучение ведут успешные агенты сети Перспектива24
                        .step__card-desc.step__card-desc--slider 
                            .step__day-desc
                                span.step__day-text 1 день
                                .step__day-items
                                    ul.step__day
                                        li Вводная лекция
                                        li Ценностные предложения
                                .step__day-items
                                    ul.step__day
                                        li жилой фонд
                                        li Ценообразование
                            .step__day-desc
                                span.step__day-text 2 день
                                .step__day-items
                                    ul.step__day
                                        li Документооборот
                                        li Наработка клиентской базы
                                .step__day-items
                                    ul.step__day
                                        li 
                                            |Этапы продаж
                                            br
                                            |(встреча с собственником)
                            .step__day-desc
                                span.step__day-text 3 день
                                .step__day-items
                                    ul.step__day
                                        li 
                                            |Предпродажная подготовка
                                            br
                                            |План продажи. Показ квартиры.
                                .step__day-items
                                    ul.step__day
                                        li Жилой фонд
                                        li Ценообразование
                            .step__day-desc
                                span.step__day-text 4 день
                                .step__day-items
                                    ul.step__day
                                        li Вводная лекция
                                        li Ценностные предложения
                                .step__day-items
                                    ul.step__day
                                        li жилой фонд
                                        li Ценообразование
                            .step__day-desc
                                span.step__day-text 5 день
                                .step__day-items
                                    ul.step__day
                                        li Вводная лекция
                                        li Ценностные предложения
                                .step__day-items
                                    ul.step__day
                                        li жилой фонд
                                        li Ценообразование
                li.step__block-item
                    .step__card 
                        .step__card-photo
                            .step__photo-wrapper 
                                img(src="../static/img/content/step3.png", alt="Фото ввода в профессию", width="300", height="364")
                            .step__desc-wrapper 
                                .step__desc-title Практика
                                    span 7 дней
                            p.step__desc-btext Этапы входа Агента в работу
                        .step__card-desc 
                            .step__day-desc
                                .step__day-items
                                    ul.step__day.step__day--long
                                        li On-Line обучение
                                        li Практика в собственном учебном центре
                                        li Подключение адаптога к стажеру и вывод на первую сделку
                                        li Передача стажера в основной офис и подключение к нему наставника
                                        li Выбор удобного офиса для агента
                                        li Выход на работу
                li.step__block-item
                    .step__card 
                        .step__card-photo
                            .step__photo-wrapper 
                                img(src="../static/img/content/step2.png", alt="Фото ввода в профессию", width="300", height="364")
                            .step__desc-wrapper 
                                .step__desc-title Выход на работу
                            p.step__desc-btext 
                                |Практика в собственном учебном центре 
                                br
                                |Практику ведут действующие агента и руководители
                        .step__card-desc 
                            .step__day-desc
                                .step__day-items
                                    ul.step__day.step__day--long
                                        li Поиск клиента
                                        li Встреча
                                        li Подписание договора
                                        li Поиск покупателя
                                        li Аванс / Задаток
                                        li Подготовка к сделке
                                        li Пост обслуживани
                                        li Поиск клиента
                                        li Встреча
                                        li Подписание договора
                                        li Поиск покупателя
                                        li Аванс / Задаток
                                        li Подготовка к сделке
                                        li Пост обслуживани
                                        li Поиск клиента
                                        li Встреча                            