.step {
    padding: 35px 0 80px 0;
    background-color: #F5F5F6;
    &__slick {
        margin: 0;
        @media (max-width: 749px) {
            display: none;
        }
    }

    &__unslick {
        display: none;
        @media (max-width:749px) {
            display: flex;
            flex-direction: column;
            padding: 0 53px;
        }
    }

    &__top-block {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
        @media (max-width: 1299px) {
            max-width: 1000px;
            margin: 0 auto;
        }
        @media (max-width: 999px) {
            justify-content: center;
        }
    }

    & .slick-track {
        margin-left: -150px;
        @media (max-width: 1299px) {
            margin-left: 0;
        }
    }
    &__wrapper {
        max-width: none !important;
        padding: 0 !important;
    }
    & .slick-slide {
        padding: 0 31px;
        @media (max-width: 749px) {
            padding: 0;
        }
    }

    &__title {
        margin: 0 16px;
        @media (max-width: 999px) {
            max-width: 300px;
            text-align: center;
        }
    }
    &__block {
        &-item {
            padding: 0;
            margin: 0;
            @media (max-width: 749px) {
                margin-bottom: 40px;
            }
        }
        & ul {
                
            & li.step__block-item {
                
                &::before {
                    content: none;
                }
            }
        }
    }

    &__card {
        height: 726px;
        width: 974px;
        padding: 50px 55px;
        background-color: #fff;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        @media (max-width:749px) {
            width: 100%;
            flex-direction: column;
            padding: 10px 0 36px 13px;
            height: auto;
        }
        &-photo {
            width: 300px;
            min-width: 300px;
            display: flex;
            flex-direction: column;
            @media (max-width:749px) {
                min-width: auto;
                width: 100%;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;
            }
        }


        &-desc{
            margin-top: -8px;
            display: flex;
            flex-direction: column;
            margin-left: 84px;
            width: 100%;
            @media (max-width:749px) {
                margin-left: 0;
                padding: 0 0 0 10px;
            }

            &--slider {
                & .slick-slide {
                    opacity: 0.4;
                    transition: opacity .3s ease-in-out;
                }
                
                & .slick-active {
                    opacity: 1;
                    transition: opacity .3s ease-in-out;
                }
            }
        }

    }

    &__photo-wrapper {
        width: 300px;
        height: 364px;
        margin-bottom: 54px;
        @media (max-width:749px) {
            width: 100%;
            max-width: 49%;
            height: auto;
            margin-bottom: 23px;
        }
    }

    &__desc {
        &-wrapper {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-left: 32px;
            @media (max-width:749px) {
                margin-left: 0;
                width: auto;
                margin-right: 23px;
                max-width: 120px;
            }
        }
        &-title {
            font-size: 28px;
            text-align: left;
            margin: 0;
            position: relative;
            display: inline-block;
            margin-bottom: 40px;
            @media (max-width:749px) {
                font-size: 16px;
                padding: 0 22px;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            &::before {
                content: "";
                position: absolute;
                left: 0;
                bottom: -16px;
                width: 100%;
                height: 4px;
                background-color: #D2202B;
            }
            & span {
                text-align: right;
                font-size: 28px;
                color: #D2202B;
                margin-left: 16px;
                @media (max-width:749px) {
                    font-size: 16px;
                    margin-left: 0;
                }
            }
        }

        &-btext {
            display: inline-block;
            margin: 0;
            font-size: 16px;
            text-align: left;
            max-width: 252px;
            @media (max-width: 749px) {
                padding: 0 0 0 10px;
                font-size: 14px;
                margin-bottom: 30px;
                max-width: none;
            }
        }
    }

    &__day-desc {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    &__day-text {
        font-size: 22px;
        color: #6F6C6C;
        width: 100%;
        margin-bottom: 24px;
        margin-top: 8px;
        display: inline-block;
        @media (max-width: 749px) {
            margin-bottom: 20px;
        }
    }

    &__day {
        width: 240px;
        &--long {
            width: auto;
            margin-top: 28px;
        }
        li {
            color: #71707080;
            font-size: 16px;
            margin: 0;
            margin-right: 20px;
            margin-bottom: 12px;

            &::before {
                background-color: #71707080;
                width: 5px;
                height: 5px;
            }
        }
    }

    &__slider {
        &-controls {
            display: flex;
            justify-content: space-between;
            @media (max-width: 749px) {
                width: 100%;
                display: none;
            }
        }

        &-arrow {
            position: relative;
            display: inline-block;
            width: 46px;
            height: 46px;
            background-color: rgba(255, 255, 255, 0.80);
            border-radius: 2px;
            border: 1px solid #AAAAAA;
            cursor: pointer;
            transition: background-color .2s ease-in-out;


            &::before, &::after {
                content: "";
                width: 2px;
                height: 14px;
                background-color: #000000;
                position: absolute;
                left: 0;
                top: 0;
                transition: all .2s ease-in-out;
            }

            

            &--prev {
                &::before {
                    left: 20px;
                    top: 10px;
                    transform: rotate(45deg);
                }
    
                &::after {
                    left: 20px;
                    top: 20px;
                    transform: rotate(-45deg);
                }
            }

            &--next {
                &::before {
                    left: 20px;
                    top: 10px;
                    transform: rotate(-45deg);
                }
    
                &::after {
                    left: 20px;
                    top: 20px;
                    transform: rotate(45deg);
                }
            }

            &.slick-disabled {
                &.step__slider-arrow {
                    &::before, &:after {
                        background-color: #C4C4C4;
                    }
                }


            }
        }
    }
}