mixin about-us(data)
    .section__wrapper
        .about-us__block
            h1 Создаем идеальных агентов по недвижимости
            ul.about-us__cards
                li.about-us__card
                    .about-us__card-img
                        img(src="../static/img/content/about1.jpg", alt="Фотография нас" width="304", height="200")
                    .about-us__card-text 
                        p.about-us__card-title Второе место в России
                        p.about-us__card-desc 
                            |Перспектива 24 - уже работает в более, чем 100 городах и 5 
                            br
                            |странах.
                        .about-us__tooltip.tooltip 
                            svg(width='20' height='20' viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M10 0.375C4.68477 0.375 0.375 4.68477 0.375 10C0.375 15.3152 4.68477 19.625 10 19.625C15.3152 19.625 19.625 15.3152 19.625 10C19.625 4.68477 15.3152 0.375 10 0.375ZM10.6875 14.6406C10.6875 14.7352 10.6102 14.8125 10.5156 14.8125H9.48438C9.38984 14.8125 9.3125 14.7352 9.3125 14.6406V8.79688C9.3125 8.70234 9.38984 8.625 9.48438 8.625H10.5156C10.6102 8.625 10.6875 8.70234 10.6875 8.79688V14.6406ZM10 7.25C9.73014 7.24449 9.47319 7.13342 9.28429 6.94062C9.09539 6.74783 8.98959 6.48867 8.98959 6.21875C8.98959 5.94883 9.09539 5.68967 9.28429 5.49688C9.47319 5.30408 9.73014 5.19301 10 5.1875C10.2699 5.19301 10.5268 5.30408 10.7157 5.49688C10.9046 5.68967 11.0104 5.94883 11.0104 6.21875C11.0104 6.48867 10.9046 6.74783 10.7157 6.94062C10.5268 7.13342 10.2699 7.24449 10 7.25Z' fill='#B0ACAC')
                            span Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                li.about-us__card
                    .about-us__card-img
                        img(src="../static/img/content/about2.jpg", alt="Фотография нас" width="304", height="200")
                    .about-us__card-text 
                        p.about-us__card-title Лучший учебный центр
                        p.about-us__card-desc 
                            |С лицензией образовательной деятельности. Наши агенты 
                            br
                            |имеют диплом риэлтора
                        .about-us__tooltip.tooltip
                            svg(width='20' height='20' viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M10 0.375C4.68477 0.375 0.375 4.68477 0.375 10C0.375 15.3152 4.68477 19.625 10 19.625C15.3152 19.625 19.625 15.3152 19.625 10C19.625 4.68477 15.3152 0.375 10 0.375ZM10.6875 14.6406C10.6875 14.7352 10.6102 14.8125 10.5156 14.8125H9.48438C9.38984 14.8125 9.3125 14.7352 9.3125 14.6406V8.79688C9.3125 8.70234 9.38984 8.625 9.48438 8.625H10.5156C10.6102 8.625 10.6875 8.70234 10.6875 8.79688V14.6406ZM10 7.25C9.73014 7.24449 9.47319 7.13342 9.28429 6.94062C9.09539 6.74783 8.98959 6.48867 8.98959 6.21875C8.98959 5.94883 9.09539 5.68967 9.28429 5.49688C9.47319 5.30408 9.73014 5.19301 10 5.1875C10.2699 5.19301 10.5268 5.30408 10.7157 5.49688C10.9046 5.68967 11.0104 5.94883 11.0104 6.21875C11.0104 6.48867 10.9046 6.74783 10.7157 6.94062C10.5268 7.13342 10.2699 7.24449 10 7.25Z' fill='#B0ACAC') 
                            span Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                li.about-us__card
                    .about-us__card-img
                        img(src="../static/img/content/about3.jpg", alt="Фотография нас" width="304", height="200")
                    .about-us__card-text 
                        p.about-us__card-title Успешное окружение
                        p.about-us__card-desc Развитие личностных качеств с командой соратников
                        .about-us__tooltip.tooltip 
                            svg(width='20' height='20' viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M10 0.375C4.68477 0.375 0.375 4.68477 0.375 10C0.375 15.3152 4.68477 19.625 10 19.625C15.3152 19.625 19.625 15.3152 19.625 10C19.625 4.68477 15.3152 0.375 10 0.375ZM10.6875 14.6406C10.6875 14.7352 10.6102 14.8125 10.5156 14.8125H9.48438C9.38984 14.8125 9.3125 14.7352 9.3125 14.6406V8.79688C9.3125 8.70234 9.38984 8.625 9.48438 8.625H10.5156C10.6102 8.625 10.6875 8.70234 10.6875 8.79688V14.6406ZM10 7.25C9.73014 7.24449 9.47319 7.13342 9.28429 6.94062C9.09539 6.74783 8.98959 6.48867 8.98959 6.21875C8.98959 5.94883 9.09539 5.68967 9.28429 5.49688C9.47319 5.30408 9.73014 5.19301 10 5.1875C10.2699 5.19301 10.5268 5.30408 10.7157 5.49688C10.9046 5.68967 11.0104 5.94883 11.0104 6.21875C11.0104 6.48867 10.9046 6.74783 10.7157 6.94062C10.5268 7.13342 10.2699 7.24449 10 7.25Z' fill='#B0ACAC')
                            span Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                li.about-us__card
                    .about-us__card-img
                        img(src="../static/img/content/about4.jpg", alt="Фотография нас" width="304", height="200")
                    .about-us__card-text 
                        p.about-us__card-title Лучшая франшиза недвижимости в России
                        p.about-us__card-desc "Лучшая Франшиза" в сфере недвижимости 2018 
                        .about-us__tooltip.tooltip
                            svg(width='20' height='20' viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M10 0.375C4.68477 0.375 0.375 4.68477 0.375 10C0.375 15.3152 4.68477 19.625 10 19.625C15.3152 19.625 19.625 15.3152 19.625 10C19.625 4.68477 15.3152 0.375 10 0.375ZM10.6875 14.6406C10.6875 14.7352 10.6102 14.8125 10.5156 14.8125H9.48438C9.38984 14.8125 9.3125 14.7352 9.3125 14.6406V8.79688C9.3125 8.70234 9.38984 8.625 9.48438 8.625H10.5156C10.6102 8.625 10.6875 8.70234 10.6875 8.79688V14.6406ZM10 7.25C9.73014 7.24449 9.47319 7.13342 9.28429 6.94062C9.09539 6.74783 8.98959 6.48867 8.98959 6.21875C8.98959 5.94883 9.09539 5.68967 9.28429 5.49688C9.47319 5.30408 9.73014 5.19301 10 5.1875C10.2699 5.19301 10.5268 5.30408 10.7157 5.49688C10.9046 5.68967 11.0104 5.94883 11.0104 6.21875C11.0104 6.48867 10.9046 6.74783 10.7157 6.94062C10.5268 7.13342 10.2699 7.24449 10 7.25Z' fill='#B0ACAC')
                            span Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            button(type="submit").btn.btn_b Записаться на собеседование