.advantage {
    padding: 0 0 85px 0;
    max-width: 1920px;
    margin: 0 auto;
    &__wrapper {
        max-width: none !important;
    }
    &__top-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__block {
        max-width: 1920px;
        margin: 0 auto;
        overflow: hidden;
    }
    &__cards {
        margin: 0;
        margin: 0 auto;
        max-width: 1300px;
        margin-right: -20px;
        &-wrapper {
            position: relative;
            width: 100%;
            margin: 0 auto;
            max-width: 1300px;
        }
        &--left {
            position: absolute;
            left: -300px;
            top: 0;
            max-width: 320px;
            opacity: 0;
            // display: none;
            // & .advantage__card {
            //     position: relative;
            //     &::before {
            //         content: "";
            //         position: absolute;
            //         width: 100%;
            //         height: 100%;
            //         left: 0;
            //         top: 0;
            //         background-color: rgba(255, 255, 255, 0.5);
            //     }
            // }
        }

        &--right {
            position: absolute;
            right: -320px;
            top: 0;
            max-width: 320px;
            box-shadow: none;
            
            & .advantage__card {
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    background-color: rgba(255, 255, 255, 0.5);
                }
            }
        }

        &--right {
            & .advantage__card {

                &:hover {
                    box-shadow: none;
                }
            }
        }
    }
    &__cards li:before {
        content: none;
    } 

    &__cards li {
        padding: 0;
        margin: 0;
    }


    &__card {

        margin-top: 15px;
        margin-bottom: 15px;
        list-style: none;
        width: 302px;
        height: 320px;
        min-width: 302px;
        box-sizing: border-box;
        padding: 45px 19px 20px 19px;
        background-color: #F5F5F5;
        border-radius: 5px;
        // margin-right: 24px;
        margin-right: 0;
        box-shadow: 2px 2px 20px rgba(0, 0, 0, 0);
        transition: background-color .3s ease-in-out, box-shadow .3s ease-in-out;
        &::before {
            content: none;
        }
        &:hover {
            background-color: #FCFCFC;
            box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.25%);
        }

        
    }
    &__top-title {
        font-size: 30px;
        padding: 0 16px;
        margin: 10px 0;
    }
    &__title {
        margin: 0;
        font-size: 28px;
        margin-bottom: 30px;
        height: 50px;
        font-weight: 400;
        line-height: 28px;
    }

    &__desc-small {
        color: #0099EA;
        background-color: #0098ea20;
        padding: 5px 15px 8px 15px;
        font-size: 16px;
        border-radius: 15px;
        margin-bottom: 30px;
    }

    &__desc {
        font-size: 16px;
        color: #71707080;
        padding: 0;
    }


    &__slider {
        &-controls {
            display: flex;
            width: 104px;
            justify-content: space-between;
        }

        &-arrow {
            position: relative;
            display: inline-block;
            width: 46px;
            height: 46px;
            background-color: rgba(255, 255, 255, 0.80);
            border-radius: 2px;
            border: 1px solid #AAAAAA;
            cursor: pointer;
            transition: background-color .2s ease-in-out;


            &::before, &::after {
                content: "";
                width: 2px;
                height: 14px;
                background-color: #000000;
                position: absolute;
                left: 0;
                top: 0;
                transition: all .2s ease-in-out;
            }

            

            &--prev {
                &::before {
                    left: 20px;
                    top: 10px;
                    transform: rotate(45deg);
                }
    
                &::after {
                    left: 20px;
                    top: 20px;
                    transform: rotate(-45deg);
                }
            }

            &--next {
                &::before {
                    left: 20px;
                    top: 10px;
                    transform: rotate(-45deg);
                }
    
                &::after {
                    left: 20px;
                    top: 20px;
                    transform: rotate(45deg);
                }
            }

            &.slick-disabled {
                &.advantage__slider-arrow {
                    &::before, &:after {
                        background-color: #C4C4C4;
                    }
                }


            }
        }
    }
}


.advantage .slick-track {
    // margin-left: 180px;
}

.advantage .slick-list {
    // overflow: visible;
}

.advantage .slick-dots {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    & button {
        display: none;
    }

    & li {
        width: 20px;
        height: 20px;
        cursor: pointer;
        margin-right: 16px;
        &::before {
            content: "";
            position: absolute;
            width: 20px;
            left: 0;
            top: 0;
            height: 20px;
            background-color: #c4c4c400;
            border: 1px solid #C4C4C4;
            border-radius: 50%;
            transition: background-color .3s ease-in-out;
        }
        &.slick-active {
            &::before {
                content: "";
                position: absolute;
                width: 20px;
                height: 20px;
                background-color: #C4C4C4;
                border: 1px solid #C4C4C4;
                border-radius: 50%;
            } 
        }
    }
}
