mixin advantage(data)
    -var title = ['Гарантия достойной оплаты', 'Бесплатное онлайн обучение', 'Сразу получите рабочее место в компании', 'Эксперт-наставник', 'Эксперт-наставник', 'Получить команду соратников', 'Получить коллектив', 'Работать в компании', 'Независимость от работодателя', 'Эксперт-наставник', 'Независимость от работодателя', 'Эксперт-наставник']
    -var small = ['2 среднемесячные зарплаты', 'научишься за 5 дней', 'это ваши возможности', 'которому важен ваш результат', 'которому важен ваш результат', 'которые помогут', 'с дружеской атмосферой', 'качественных услуг', 'уйти от привычного состояния', 'которому важен ваш результат', 'уйти от привычного состояния', 'которому важен ваш результат']
    -var desc = ['Выполняйте обязательные действия, которые предписаны системой, даже не имея опыта работы', '1 неделю, за время которой можно овладеть технологией работы агента по недвижимости и зарабатывать на ней всю жизнь', 'Возможность получить и использовать авторские технологии, разработанные компанией.', 'сопроводит на всех этапах работы, то есть всегда. Проведет за ручку и покажет. И будет заинтересован в твоем результате.', 'сопроводит на всех этапах работы, то есть всегда. Проведет за ручку и покажет. И будет заинтересован в твоем результате.', 'добившиеся результата и которым также помогали более опытные товарищи. ', 'будет царить дружеская, семейная атмосфера, где твоим результатам реально рады, а не завидуют', 'безопасность и выгода клиента превыше всего. Клиент всегда  получает качественную услугу.', 'получателя зарплаты с ограничением по величине, и перестроить мышление на зарабатывание без потолка и ограничений.', 'сопроводит на всех этапах работы, то есть всегда. Проведет за ручку и покажет. И будет заинтересован в твоем результате.', 'получателя зарплаты с ограничением по величине, и перестроить мышление на зарабатывание без потолка и ограничений.', 'сопроводит на всех этапах работы, то есть всегда. Проведет за ручку и покажет. И будет заинтересован в твоем результате.']
    .section__wrapper.advantage__wrapper
        .advantage__block
            .section__wrapper
                .advantage__top-block
                    h1.advantage__top-title Что ты получишь, работая с нами
                    .advantage__slider-controls
                        span.advantage__slider-arrow.advantage__slider-arrow--prev
                        span.advantage__slider-arrow.advantage__slider-arrow--next
            .advantage__cards-wrapper 
                //- ul.advantage__cards.advantage__cards--left
                //-     -var i = 0
                //-     -var g = 0
                //-     each val in title
                //-         li
                //-             .advantage__card
                //-                 h3.advantage__title=val
                //-                 span.advantage__desc-small=small[i] 
                //-                 p.advantage__desc=desc[i]
                //-                 -i++
                //-                 -g++
                //- ul.advantage__cards.advantage__cards--right
                //-     -var i = 0
                //-     -var g = 0
                //-     each val in title
                //-         li
                //-             .advantage__card
                //-                 h3.advantage__title=val
                //-                 span.advantage__desc-small=small[i] 
                //-                 p.advantage__desc=desc[i]
                //-                 -i++
                //-                 -g++
                ul.advantage__cards.advantage__cards--center.owl-carousel.owl-theme
                    -var i = 0
                    -var g = 0
                    each val in title
                        li
                            .advantage__card
                                h3.advantage__title=val
                                span.advantage__desc-small=small[i] 
                                p.advantage__desc=desc[i]
                                -i++
                                -g++
            
