mixin create-agent(data)
    .section__wrapper
        .create-agent__block
            h1.create-agent__top-title Создаем идеальных агентов по недвижимости
            .create-agent__blocks 
                .create-agent__big-block
                    .create-agent__block-wrapper
                        h3.create-agent__title Легкий и достойный заработок
                        span.create-agent__subtitle Риэлтору Перспектива24 легче закрыть сделку, чем в других агентствах
                        ul.create-agent__items-desc
                            li Начните закрывать сделки уже в первый месяц работы.
                            li Собственная CRM и огромная база объектов по всей стране.
                            li Масштабная рекламная деятельность
                            li Большой входящий трафик собственников 
                    .create-agent__image-block 
                        img(src="../static/img/content/create-agent.png", alt="Фото девушки", width="468", height="334")
                .create-agent__small-block
                    h3.create-agent__title Свобода, сам себе хозяин
                    span.create-agent__subtitle Свободный график, работай сколько хочешь когда хочешь
                .create-agent__small-block
                    h3.create-agent__title Престижно 
                    span.create-agent__subtitle Зарплата в 2 раза выше средней 
                    span.create-agent__subtitle Значимость для себя и других, успешное окружение, неограниченный рост
                .create-agent__small-block
                    h3.create-agent__title Можно без опыта
                    span.create-agent__subtitle Научим всему. Главное от вас - активность и желание зарабатывать.
                .create-agent__small-block
                    h3.create-agent__title Постоянное развитие
                    span.create-agent__subtitle Собственная база знаний, поддержка опытных наставников и безграничный карьерный рост​
