mixin banner(data)
    .banner__square-top
        .banner__square
    .banner__img-wrapper
        .banner__img-block 
            img(src="../static/img/content/banner.png", alt="Фото девушки", width="576", height="675")
    .section__wrapper
        .banner__block
            .banner__left-block
                .banner__title-block
                    h1.banner__title Смените профессию
                    h1.banner__title Научитесь новому
                    h1.banner__title Найдите себя
                button(type="submit").btn.btn_r Стать агентом по недвижимости