.banner {
    position: relative;
    margin-bottom: 77px;
    padding: 0;
    background: rgb(33,149,210);
    background: linear-gradient(39deg, rgba(33,149,210,1) 0%, rgba(18,124,184,1) 100%);

    &__square-top {
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: 0 auto;
        overflow: hidden;
    }
    &__square {
        max-width: 1300px;
        margin: 0 auto;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;

        &::after {
            content: "";
            position: absolute;
            width: 1300px;
            height: 1300px;
            background-color: rgba(255, 255, 255, 0.10);
            right: -800px;
            top: -413px;
            transform: rotate(45deg);
            @media (max-width: 1299px) {
                right: -1100px;
                top: -250px;
            }

            @media (max-width: 749px) {
                right: -1300px;
                top: -250px;
            }
        }
        &::before {
            content: "";
            position: absolute;
            width: 1300px;
            height: 1300px;
            background-color: rgba(255, 255, 255, 0.10);
            right: -900px;
            top: -413px;
            transform: rotate(45deg);
            @media (max-width: 1299px) {
                right: -1200px;
                top: -250px;
            }

            @media (max-width: 749px) {
                right: -1400px;
                top: -250px;
            }
        }
    }
    
    &__block {
        padding: 0 16px; 
        margin-top: 20px;
        position: relative;
        display: flex;
        width: 100%;
        overflow: hidden;
        @media (max-width: 1299px) {
            max-width: 1000px;
            margin: 0 auto;
        }
        @media (max-width: 999px) {
            max-width: 750px;
            margin: 0 auto;
        }
        @media (max-width: 749px) {
            justify-content: center;
        }

    }

    &__title-block {
       display: flex;
       flex-direction: column;
        margin-bottom: 90px;
        z-index: 3;
        @media (max-width: 1299px) {
            margin-bottom: 43px;
        }
    }

    &__left-block {
        margin-bottom: 140px;
        @media (max-width: 1299px) {
            margin-bottom: 237px;
        }
        @media (max-width: 749px) {
           margin-bottom: 282px;
        }
    }

    &__title {
        font-size: 48px;
        color: #DDD7D7;
        margin: 0;
        padding: 0;
        margin-bottom: 13px;
        @media (max-width: 1299px) {
            font-size: 36px;
        }
        @media (max-width: 749px) {
            font-size: 24px;
        }
    }
    &__title:nth-child(2) {
        color: #ffffff;
    }

    &__title:last-child() {
        margin-bottom: 90px;
    }

    &__img-wrapper {
        max-width: 1300px;
        margin: 0 auto;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 0;
        @media (max-width: 1299px) {
            max-width: 1000px;
            margin: 0 auto;
        }
        @media (max-width: 999px) {
            max-width: 750px;
            margin: 0 auto;
        }
        @media (max-width: 749px) {
            display: none;
        }
    }

    &__img-block {
        position: absolute;
        right: 0;
        top: -95px;
        z-index: 2;

        @media (max-width: 1299px) {
            top: -25px;
            & img {
                width: 500px;
            }
        }
    }
}
